/*
File Name:
   conference.css
File Description:
   NICO Complexity Conference style sheet
File Author:
   <j-morrow@northwestern.edu>
Last Updated:
   10:23am 2/15/2006 JOE
*/


/*
//   NICO Site Colors
//
//   home bubble text gray:   #585858;
//   home menu dark green:    #838D00;
//   page header dark green:  #5B6F7C;
//   page header light blue:  #ECF5FA;
//   page menu light green:   #F1F4D3;
//   page menu dark green:    #CED84C;
//   footer text gray:        #546976;
*/


/*
//   Global Styles
*/


* {
    padding: 0px;
    margin: 0px;
    border: none;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

TABLE {
    border-collapse: collapse;
}

IMG,
IMG A {
    border: none;
}

A {
    color: #5B6F7C;
    text-decoration: underline;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}



/*
//   Front Page Styles
*/


#front {
    background-image: url(../images/front_back.gif);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    color: #000000;
    width: 740px;
}

#front_title {
    display: none;
}

#front_bubble_text {
    width: 315px;
    height: 315px;
    top: 240px;
    left: 410px;
    position: absolute;
    color: #585858;
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.4em;
}

.front_bubble_news {
    color: red;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.4em;
		text-decoration: none;
}

#front_menu {
    top: 385px;
    left: 32px;
    position: absolute;
    color: #838D00;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.9em;
}

#front_menu TD {
    vertical-align: bottom;
}

#front_menu IMG {
    margin-bottom: 6px;
}

#front_menu A {
    margin-left: 6px;
    text-decoration: none;
    color: #838D00;
}

#front_menu A:active,
#front_menu A:hover {
    text-decoration: underline;
}

#front_hr {
    top: 605px;
    left: 32px;
    position: absolute;
}

#front_footer {
    top: 625px;
    left: 32px;
    width: 700px;
    position: absolute;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    line-height: 1.1em;
    color: #6F818C;
}

#front_footer A {
    color: #6F818C;
    text-decoration: underline;
}


/*
//   Second-level Page Styles
*/


#top {
    background-color: #FFFFFF;
    color: #000000;
}

#page_header_text {
    display: none;
}

#page_header_print {
    display: none;
}

#page_header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-image: url(../images/page_header_back.gif);
    background-repeat: repeat-x;
}

#page_header TD {
    vertical-align: top;
}

#page_menu {
    top: 131px;
    left: 15px;
    width: 215px;
    position: absolute;
    background-color: #F1F4D3;
}

#page_menu .border_left {
    width: 4px;
    background-image: url(../images/blank_green.gif);
    background-repeat: repeat-y;
    background-position: left top;
}

#page_menu .border_right {
    width: 4px;
    background-image: url(../images/blank_green.gif);
    background-repeat: repeat-y;
    background-position: right top;
}

#page_menu TD.menu {
    padding: 19px;
    padding-top: 20px;
    padding-bottom: 18px;
}

#page_menu .menu TD {
    vertical-align: bottom;
    color: #838D00;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.85em;
}

#page_menu .menu IMG {
    margin-bottom: 6px;
}

#page_menu .menu A {
    margin-left: 6px;
    text-decoration: none;
    color: #838D00;
}

#page_menu .menu A:active,
#page_menu .menu A:hover {
    text-decoration: underline;
}

#page_body {
    top: 131px;
    left: 245px;
    width: 471px;
    position: relative;
}

#page_body H1 {
    width: 471px;
    height: 20px;
    background-image: url(../images/page_title_back.gif);
    background-repeat: no-repeat;
    color: #838D00;
    font-size: 1.2em;
    padding: 9px;
}

#page_body H1.special {
    width: 471px;
    height: 20px;
    background-image: url(../images/page_title_back.gif);
    background-repeat: no-repeat;
    color: #838D00;
    font-size: 1.0em;
    padding: 9px;
}

#page_body H2.date, 
#page_body H2 {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: #5B6F7C;
    font-weight: normal;
    font-size: 1.125em;
    padding-left: 9px;
    padding-top: 13px;
    padding-bottom: 5px;
}

#page_body H3 {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 0.75em;
    padding-left: 9px;
    padding-bottom: 8px;
}

#page_body P {
    font-size: 0.75em;
    padding: 9px;
    padding-bottom: 8px;
    line-height: 1.2em;
}

#page_body P.bio {
    font-style: italic;
}

#page_body P.bio CITE {
    font-style: normal;
}

#page_body P.bio IMG {
    float: left;
    padding-right: 14px;
    padding-bottom: 14px;
}

#page_body P STRONG {
    font-weight: bold;
}

#page_body A.schedule_link {
    color: #000000;
    text-decoration: none;
}

#page_body A:active.schedule_link,
#page_body A:hover.schedule_link {
    text-decoration: underline;
}

#page_body TABLE.registration {
    font-size: 0.75em;
    line-height: 2.5em;
    border: 1px solid #5B6F7C;
    width: 100%;
}


#page_body TABLE.registration TH {
    vertical-align: top;
    padding: 9px;
    text-align: left;
    background-color: #F1F4D3;
    line-height: 1.25em;
}

#page_body TABLE.registration TD {
    vertical-align: top;
    padding: 9px;
    padding-right: 20px;
    line-height: 1.25em;
}

#page_body .registration SELECT, 
#page_body .registration INPUT.text {
    border: 1px solid #5B6F7C;
    font-size: 1.0em;
    padding: 0.25em;
}

#page_body .registration INPUT.submit {
    height: 1.7em;
    width: 6.0em;
    background-color: #ECF5FA;
    font-weight: bold;
    color: #838D00;
    border: 1px solid #5B6F7C;
}

#page_body .required {
    color: #5B6F7C;
    font-weight: bold;
}

#page_body IMG.border {
    border: 1px solid #5B6F7C;
}

#page_hr {
    clear: both;
    top: 146px;
    left: 32px;
    position: relative;
}

#page_footer {
    top: 161px;
    left: 32px;
    width: 700px;
    position: relative;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    line-height: 1.1em;
    color: #6F818C;
}

#page_footer A {
    color: #6F818C;
    text-decoration: underline;
}
